STRINGTABLE 
{
 54000, "Calendar Property Must Be Set"
 54001, "The date is not valid and can not be copied to the clipboard."
 54002, "The time is not valid and can not be copied to the clipboard."
 54003, "The clipboard does not contain a valid date"
 54004, "Nil"
 54005, "Bad"
 54006, "Range"
 54007, "(No Date)"
 54008, "This date is required, please enter a valid date"
 54009, "Your date is out of the allowable range of"
 54010, "Please enter a date that is greater than or equal to "
 54011, "Please enter a date that is less than or equal to "
 54012, "through"
 54013, "the year can not be 0"
 54014, "the month must be between 1 and 12"
 54015, "the day does not exist in the specified month and year"
 54016, "The date"
 54017, "is not valid"
 54018, "Do you want to open the calendar with today's date?"
 54019, "The time"
 54020, "Do you want to open the calendar with the current time?"
 54021,	"the hour does not exist, please specify"
 54022,	"0 - 23"
 54023,	"1 - 12"
 54024,	"0 - 59"
 54025,	"the hour does not exist, please specify"
 54026,	"the hour does not exist, please specify"
 54027,	"Century Cutoff must be between 1 and 99"
 54028,	"Unable to load Bitmap"
 54029,	"From Resource File"
 54031,	"AM"
 54032,	"PM"

}

