TADROCKDATETIMEEDIT_BITMAP 		BITMAP  DISCARDABLE     "adbmp000.bmp"
TADROCKDATETIMEEDIT_ARROW_BITMAP 	BITMAP  DISCARDABLE     "adbmp001.bmp"
TADROCKDATETIMEEDIT_1ARROW95_BITMAP 	BITMAP  DISCARDABLE     "adbmp002.bmp"
TADROCKDATETIMEEDIT_DATE_BITMAP 	BITMAP  DISCARDABLE     "adbmp003.bmp"
TADROCKDATETIMEEDIT_ARROW95_BITMAP 	BITMAP  DISCARDABLE     "adbmp004.bmp"
